/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* common styles */

body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #ffffff;
    width: 870px;
    padding: 33px;
    margin-top: 21px;
    border-radius: 5px
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* header styles */

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #562EFF;
    color: #ffffff;
    padding: 19px 0px;
}

.nav-in{
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    width: 40.42px;
    height: 51px;
    margin-right: 15px;
}

.main-bar ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center
}

.main-bar ul li {
    list-style: none;
    margin-left: 36px;

}

.main-bar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.main-bar ul li a img{
    width: 51px;
    height: 51px;
}

/* Top Players Styles */

.top-players{
    margin-bottom: 30px;
}

.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blog styles */

.main-blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blogs{
    display: flex;
}

.blogs .thumbnail img{
    width: 177px;
    height: 117px;
}

.blogs-info{
    margin-left: 16px;
}

.blogs-title{
    font-size: 20px;
}

.blogs-author{
    color: #9f9f9f;
    font-size: 16px;
}

.blogs-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* latest courses */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    justify-content: center;
    padding-right: 40px;
    padding-left: 39px;
}

.box{
    width: 252.42px;
    height: 269.79px;
    margin: 0px;
    padding-left: 12.02px;
    padding-top: 14.69px;
    padding-bottom: 24.37px;
    padding-right: 16.03px;
    box-shadow: 0px 5.34229px 13.3557px #ebebeb;
    border-radius: 14px;
    align-items: center;
}

.course .course-banner img{
    width: 250px;
    height: 104px;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-author{
    color: #ED6B4F;
}

.fa-star{
    font-size: 12px;
}

.fa-star.field{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
}

.course-duration{
    display: flexbox;
    color: #FF4A60;
    font-size: 14px;
    font-weight: 600;
    background: #FFE4E8;
    padding: 5px 15px 5px 15px;
    border-radius: 38px;
}

/* Footer */

.footer-style{
    color: #562EFF;
}

.title{
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Media Queries */

/* Mobile device */

@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }

    .players, .main-blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .player, .blogs, .course{
        flex-direction: column;
        align-items: center;
    }
}